.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.popup_vid_full {
    padding-top: 50px;
    padding-left: 50px;
    margin: auto;
    display: flex;
    background-color: rgb(27, 27, 27);
    justify-content: center;
    align-items: center;
}

.pic_banner1 {
    position: fixed;
    width: 1280px;
    height: 720px;
}

.container_vid_trailer {
    width: 1280px;
    height: 720px;
}

.close_popup_vid {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 23px;
    border: transparent 1px solid;
    border-radius: 100%;
    background-color: rgb(27, 27, 27);
    display: flex;
    float: right;
}

.container_close_btn {
    padding-top: 15px;
    padding-right: 15px;
}

.container_popup_vid {
    opacity: 0;
    display: none;
}

.pt2 {
    border: none;
    margin-left: auto;
    background-color: rgb(27, 27, 27);
    padding-top: 200px;
}
/*#pauseplay{

    background-color: rgb(50,50,50);
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}




.pausebutton{
    overflow: visible;
    max-width: 35px;
    max-height: 35px;



}
.playbutton{

    overflow: hidden;
    max-height: 0px;
    max-width: 0px;

}*/

.flex-cnt-hrz-3 {
    display: flex;
    width: 1260px;
    margin-inline: auto;
    justify-content: space-between;
    padding-bottom: 20px;
}

#flx1 {
    color: grey;
    font-size: 60px;
    font-weight: bold;
}

#flx2 {
    display: flex;
    color: lightskyblue;
    font-size: 25px;
    transform: translateY(10px);
}

.ln1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 22px;
    padding-right: 40px;
    text-decoration: none;
}
.endlnk_1 {
    margin-left: auto;
    font-size: 21px;
    color: #318ce7;
    opacity: 1;
}
.placardscnt_pt2 {
    display: flex;
    max-width: 1260px;
    max-height: 680px;
    margin-inline: auto;
}
.flx_placards {
    transform: translateX(0%);
    display: flex;
    position: absolute;
    gap: 30px;
    margin-inline: auto;
    background-color: rgb(27, 27, 27);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 400px;
    transition: left 0.6s ease-in;
}

.placard {
    overflow: hidden;
    margin: 5px;
    color: white;
    background-color: black;
    height: 680px;
    width: 1260px;
    border-radius: 30px;
}

.filler {
    background-color: rgb(27, 27, 27);
    height: 680px;
    width: 1260px;
}

.hd1 {
    opacity: 0;
    padding-top: 35px;
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.p1 {
    opacity: 0;
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    padding-bottom: 250px;
}

.sideimgflx {
    display: flex;
}

.imgsidetxt {
    transform: translateY(-10px);
    padding-left: 20px;
    font-size: 69px;
    color: white;
}

.p11 {
    opacity: 0.5;
    padding-left: 20px;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    padding-bottom: 250px;
}

.hd2 {
    opacity: 0;
    padding-top: 35px;
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.p2 {
    opacity: 0;
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.pt2img2 {
    padding-top: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flx_cnt_3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.hd3 {
    padding-top: 35px;
    padding-right: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    float: right;
}

.p3 {
    padding-right: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.placard3 {
    background-image: url(resources/pt2img3_.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
    color: white;
    background-color: black;
    height: 698px;
    width: 80vw;
    border-radius: 30px;
}

.flx_placards_4 {
    display: flex;
}

.p4 {
    width: 30vw;
    font-size: 30px;
    padding-top: 35px;
    padding-left: 40px;
}

.img_4 {
    padding-left: 80px;
    transform: translateX(30%);
    position: relative;
    background-image: url(resources/pt2imhg4main.jpeg);
    background-size: 76%;
    background-position: center;
    background-repeat: no-repeat;
    height: 698px;
    width: 50vw;
    padding-top: 40px;
}

.placard5 {
    background-image: url(resources/pt2img5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    color: white;
    background-color: black;
    height: 698px;
    width: 80vw;
    border-radius: 30px;
}

.hd5 {
    padding-top: 35px;
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.p5 {
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    padding-bottom: 250px;
}

.placard6 {
    background-image: url(resources/pt2img6.jpeg);
    background-size: 640px;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 5px;
    color: white;
    background-color: black;
    height: 698px;
    width: 80vw;
    border-radius: 30px;
}

.hd6 {
    padding-top: 558.4px;
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.p6 {
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}
.pt2_new1 {
    padding-top: 1000px;
    position: relative;
    display: block;
    max-width: 1260px;
    margin-inline: auto;
    color: grey;
    font-size: 60px;
    font-weight: bold;
}
.placardscnt_pt2new1 {
    display: flex;
    max-width: 1260px;
    margin-inline: auto;
}
.pt2new1placard_flx {
    transform: translateX(0%);
    display: flex;
    position: absolute;
    gap: 20px;
    background-color: rgb(27, 27, 27);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 400px;
}

.placardsmall_new1 {
    object-fit: cover;
    overflow: hidden;
    margin: 5px;
    background-color: black;
    height: 680px;
    width: 620px;
    border-radius: 30px;
}

.placardmedium_new1 {
    overflow: hidden;
    margin: 5px;
    background-color: black;
    height: 680px;
    width: 830px;
    border-radius: 30px;
}

.placardusmall_new1 {
    overflow: hidden;
    margin: 5px;
    background-color: black;
    height: 680px;
    width: 412px;
    border-radius: 30px;
}

.placardlarge_new1 {
    overflow: hidden;
    margin: 5px;
    color: white;
    background-color: black;
    height: 680px;
    width: 1260px;
    border-radius: 30px;
}

.new1_1 {
    height: 100%;
    width: 95%;
}

.black_imgs {
    height: 100%;
    width: 100%;
}

.new1_1_white {
    height: 100%;
    opacity: 0;
    width: 95%;
    transform: translateY(-100.5%);
}

.new1_2_white {
    height: 100%;
    width: 100%;
    transform: translateY(-100.5%);
    opacity: 0;
}

.new1_3_white {
    height: 100%;
    padding-top: 5vh;
    width: 99%;
    padding-right: 30vw;
    transform: translateY(-100.5%);
    opacity: 0;
}

.new1_3 {
    height: 100%;
    padding-top: 5vh;
    width: 99%;
    padding-right: 30vw;
}

.bt_clr {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(780px);
}

six:checked ~ .buttons_pt2 label.button6_pt2 {
    border-radius: 20px;
    width: 35px;
}
.buttons_phone {
    background-color: rgb(50, 50, 50);
    width: 105px;
    height: 50px;
    border-radius: 40px;
    padding: 5px;
    position: fixed;
    left: 45vw;
    bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.9;
    visibility: hidden;
    transition: width 0.5s;
}

.black2 {
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: 2px solid white;
}
.white2 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: 2px solid white;
}
.black {
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-style: inset none;
    visibility: hidden;
}
.white {
    visibility: hidden;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.clickedblack {
    width: 40px;
    height: 40px;
    border: 2px solid blue;
    outline: 3px solid white;
    outline-offset: -7.8px;
}
.clickedwhite {
    width: 40px;
    height: 40px;
    border: 2px solid blue;
    outline: 3px solid black;

    outline-offset: -7.8px;
}
#pauseplay {
    background-color: rgb(50, 50, 50);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    bottom: 61px;
    left: 910px;
}

.playbutton {
    overflow: visible;
    max-width: 35px;
    max-height: 35px;
}
.pausebutton {
    overflow: hidden;
    max-height: 0px;
    max-width: 0px;
}
.content {
    color: rgb(207, 185, 185);
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    margin: 20px;
    padding-bottom: 85px;
    line-height: 35px;
}

.cols {
    display: flex;
    padding-left: 15vw;
    max-height: 0;
}
#hid {
    overflow: hidden;
    max-height: 0;
}
#hidMac {
    overflow: hidden;
    max-height: 0;
}
#hidiPad {
    overflow: hidden;
    max-height: 0;
}
#hidiPhone {
    overflow: hidden;
    max-height: 0;
}
#hidWatch {
    overflow: hidden;
    max-height: 0;
}
#hidHome {
    overflow: hidden;
    max-height: 0;
}
#hidEntertainment {
    overflow: hidden;
    max-height: 0;
}
#hidSupport {
    overflow: hidden;
    max-height: 0;
}
#hidAirPods {
    overflow: hidden;
    max-height: 0;
}
#hidAccessories {
    overflow: hidden;
    max-height: 0;
}
a {
    text-decoration: none;
    color: white;
}
nav {
    position: relative;
    z-index: 2;
}
.navbar {
    list-style-type: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    position: sticky;
    z-index: 2;
    top: 0;
    padding: 15px;
    font-size: small;
    letter-spacing: 1px;
    font-weight: 50;
}

.start {
    font-size: small;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 23px;
}
.padding {
    font-weight: 50;
    padding-bottom: 15px;
}

.shown {
    transform: translate(0vw);
    position: absolute;

    background-color: black;
    top: 0;
}
.loading1 {
    width: 0px;
    height: 10px;
    background-color: rgb(195, 180, 180);
    border-radius: 20px;
}
.loading2 {
    width: 0px;
    height: 10px;
    background-color: rgb(195, 180, 180);
    border-radius: 20px;
}
.loading3 {
    width: 0px;
    height: 10px;
    background-color: rgb(195, 180, 180);
    border-radius: 20px;
}
.loading4 {
    width: 0px;
    height: 10px;
    background-color: rgb(195, 180, 180);
    border-radius: 20px;
}
.loading5 {
    width: 0px;
    height: 10px;
    background-color: rgb(195, 180, 180);
    border-radius: 20px;
}
.loading6 {
    width: 0px;
    height: 10px;
    background-color: rgb(195, 180, 180);
    border-radius: 20px;
}
.allbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 650px;
    top: 1950px;
    visibility: visible;
}
.active_button {
    visibility: hidden;
}
.active_button2 {
    visibility: hidden;
    transform: translate(6.25vw);
    position: static;
    padding-left: 0px;
    padding-right: 0px;
    width: 50px;
    height: 50px;
    border: 25px solid #0071e3;
    border-radius: 50%;
    transition-property: border;
    transition-duration: 0.5s;
}
.active_button3 {
    visibility: visible;
    padding-left: 0px;
    padding-right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition-property: width, border-radius;
    transition-duration: 0.2s;
}
.active_button4 {
    visibility: visible;
    width: 50px;
    height: 50px;
    border: 25px solid #0071e3;
    border-radius: 50%;
    transition-property: border;
    transition-duration: 0.5s;
}
.button_newflex {
    position: absolute;
    top: 3200px;
}
.restartbutton {
    overflow: hidden;
    max-width: 0;
    max-height: 0;
    display: flex;
    justify-self: start;
}
