.reveal {
    position: relative;
    transform: translate(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.popup_vid_full {
    padding-top: 50px;
    padding-left: 50px;
    margin: auto;
    display: flex;
    background-color: rgb(27, 27, 27);
    justify-content: center;
    align-items: center;
}

.pic_banner1 {
    position: fixed;
    max-width: 1280px;
    max-height: 720px;
    width: 80vw;;
    height: 90vh;
    z-index: 8;
}

.container_vid_trailer {
    max-width: 1280px;
    max-height: 720px;
    width: 80vw;;
    height: 90vh;
}

.close_popup_vid {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 23px;
    border: transparent 1px solid;
    border-radius: 100%;
    background-color: rgb(27, 27, 27);
    display: flex;
    float: right;
}

.container_close_btn {
    padding-top: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 8;
}

.container_popup_vid {
    opacity: 0;
    position: fixed;
    top: 0;
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 100%;
    z-index: 8;
    display: none;
}

.pt2 {
    border: none;
    margin-left: auto;
    background-color: rgb(27, 27, 27);
    padding-top: 200px;
}


.flex-cnt-hrz-3 {
    display: flex;
    width: 1260px;
    margin-inline: auto;
    justify-content: space-between;
    padding-bottom: 20px;
}

#flx1 {
    color: grey;
    font-size: 60px;
    font-weight: bold;
}

#flx2 {
    display: flex;
    color: lightskyblue;
    font-size: 25px;
    transform: translateY(10px);
}

.ln1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 22px;
    padding-right: 40px;
    text-decoration: none;
}
.endlnk_1 {
    margin-left: auto;
    font-size: 21px;
    color: #318ce7;
    opacity: 1;
}
.placardscnt_pt2 {
    display: flex;
    max-width: 1260px;
    max-height: 680px;
    margin-inline: auto;
}
.flx_placards {
    transform: translateX(0px);
    display: flex;
    position: absolute;
    scroll-snap-type: x mandatory;
    gap: 30px;
    margin-inline: auto;
    background-color: rgb(27, 27, 27);
    align-items: center;
    /* justify-content: center; */
    padding-bottom: 400px;
    transition: left 0.6s ease-in;
    width:100%
}

.placard {
    overflow: hidden;
    margin: 5px;
    color: white;
    background-color: black;
    height: 680px;
    min-width: 1260px;
    border-radius: 30px;
}

.filler {
    background-color: rgb(27, 27, 27);
    height: 680px;
    min-width: 1260px;
}

.hd1 {
    opacity: 0;
    padding-top: 35px;
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.p1 {
    opacity: 0;
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    padding-bottom: 250px;
}

.sideimgflx {
    display: flex;
}

.imgsidetxt {
    transform: translateY(-10px);
    padding-left: 20px;
    font-size: 69px;
    color: white;
}

.p11 {
    opacity: 0.5;
    padding-left: 20px;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    padding-bottom: 250px;
}

.hd2 {
    opacity: 0;
    padding-top: 35px;
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.p2 {
    opacity: 0;
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.pt2img2 {
    padding-top: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flx_cnt_3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.hd3 {
    padding-top: 35px;
    padding-right: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    float: right;
}

.p3 {
    padding-right: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.placard3 {
    background-image: url(resources/pt2img3_.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
    color: white;
    background-color: black;
    height: 680px;
    min-width: 1260px;
    border-radius: 30px;
}

.flx_placards_4 {
    display: flex;
}

.p4 {
    width: 600px;
    font-size: 30px;
    padding-top: 35px;
    padding-left: 40px;
}

.img_4 {
    /* padding-left: 80px; */
    transform: translateX(20%);
    position: relative;
    margin-top: 40px;
    background-image: url(resources/pt2imhg4main.jpeg);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    height: 680px;
    width: 930px;
    padding-top: 40px;
}

.placard5 {
    background-image: url(resources/pt2img5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    color: white;
    background-color: black;
    height: 680px;
    min-width: 1260px;
    border-radius: 30px;
}

.hd5 {
    padding-top: 35px;
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.p5 {
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    padding-bottom: 250px;
}

.placard6 {
    background-image: url(resources/pt2img6.jpeg);
    background-size: 640px;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 5px;
    color: white;
    background-color: black;
    height: 680px;
    min-width: 1260px;
    border-radius: 30px;
}

.hd6 {
    padding-top: 558.4px;
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

.p6 {
    padding-left: 45px;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}
.pt2_new1 {
    padding-top: 1000px;
    position: relative;
    display: block;
    max-width: 1260px;
    margin-inline: auto;
    color: grey;
    font-size: 60px;
    font-weight: bold;
   
}
.placardscnt_pt2new1 {
    display: flex;
    max-width: 1260px;
    padding-right: 100vw;
    margin-inline: auto;
    
}
.pt2new1placard_flx {
    padding-top: 30px;
    display: flex;
    position: absolute;
    gap: 20px;
    background-color: rgb(27, 27, 27);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 200px;
   
}

.placardsmall_new1 {
    
    object-fit: cover;
    overflow: hidden;
    margin: 5px;
    background-color: black;
    height: 680px;
    width: 620px;
    border-radius: 30px;
}

.placardmedium_new1 {
    overflow: hidden;
    
    margin: 5px;
    background-color: black;
    height: 680px;
    width: 830px;
    border-radius: 30px;
}

.placardusmall_new1 {
    
    overflow: hidden;
    margin: 5px;
    background-color: black;
    height: 680px;
    width: 412px;
    border-radius: 30px;
}

.placardlarge_new1 {
    
    overflow: hidden;
    margin: 5px;
    color: white;
    background-color: black;
    height: 680px;
    width: 1260px;
    border-radius: 30px;
}

.new1_1 {
    height: 100%;
    width: 95%;
}

.black_imgs {
    height: 100%;
    width: 100%;
}

.new1_1_white {
    height: 100%;
    opacity: 0;
    width: 95%;
    transform: translateY(-100.5%);
}

.new1_2_white {
    height: 100%;
    width: 100%;
    transform: translateY(-100.5%);
    opacity: 0;
}

.new1_3_white {
    height: 100%;
    padding-top: 5vh;
    width: 99%;
    padding-right: 30vw;
    transform: translateY(-100.5%);
    opacity: 0;
}

.new1_3 {
    height: 100%;
    padding-top: 5vh;
    width: 99%;
    padding-right: 30vw;
}

.bt_clr {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(780px);
}

six:checked ~ .buttons_pt2 label.button6_pt2 {
    border-radius: 20px;
    width: 35px;
}
.checkbuttons{
        width: 196px;    
        height: 56px;      
        display: flex;      
        align-items: center;      
        justify-content: space-evenly;
}
.fixeddiv{
    position: fixed;
    bottom:50px; 
    height:56px; 
}
.buttons_phone {
    background-color: rgb(50, 50, 50,0.48);
    width: 56px;
    height: 56px;
    position: fixed;
    bottom: 30px;
    border-radius: 40px;
    padding: 5px;
    display: flex;
    backdrop-filter: blur(20px);
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transition: width 0.5s;
}

.black2 {
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: 2px solid white;
}
.white2 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: 2px solid white;
}
.black {
    background-color: black;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-style: inset none;
}
.white {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.clickedblack {
    width: 40px;
    height: 40px;
    border: 2px solid blue;
    outline: 3px solid white;
    outline-offset: -7.8px;
}
.clickedwhite {
    width: 40px;
    height: 40px;
    border: 2px solid blue;
    outline: 3px solid black;

    outline-offset: -7.8px;
}
#pauseplay {
    background-color: rgb(50, 50, 50,0.48);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
    align-items: center;
    transform: translate(20px,-78px);
}

.playbutton {
    overflow: visible;
    max-width: 35px;
    max-height: 35px;
}
.pausebutton {
    overflow: hidden;
    max-height: 0px;
    max-width: 0px;
}
.content {
    color: rgb(207, 185, 185);
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    margin: 20px;
    padding-bottom: 85px;
    line-height: 35px;
}

.cols {
    display: flex;
    padding-left: 15vw;
    max-height: 0;
}
#hid {
    overflow: hidden;
    max-height: 0;
}
#hidMac {
    overflow: hidden;
    max-height: 0;
}
#hidiPad {
    overflow: hidden;
    max-height: 0;
}
#hidiPhone {
    overflow: hidden;
    max-height: 0;
}
#hidWatch {
    overflow: hidden;
    max-height: 0;
}
#hidHome {
    overflow: hidden;
    max-height: 0;
}
#hidEntertainment {
    overflow: hidden;
    max-height: 0;
}
#hidSupport {
    overflow: hidden;
    max-height: 0;
}
#hidAirPods {
    overflow: hidden;
    max-height: 0;
}
#hidAccessories {
    overflow: hidden;
    max-height: 0;
}
a {
    text-decoration: none;
    color: white;
}
nav {
    position: relative;
    z-index: 2;
}
.navbar {
    list-style-type: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    position: sticky;
    z-index: 2;
    top: 0;
    padding: 15px;
    font-size: small;
    letter-spacing: 1px;
    font-weight: 50;
}

.start {
    font-size: small;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 23px;
}
.padding {
    font-weight: 50;
    padding-bottom: 15px;
}

.shown {
    transform: translate(0vw);
    position: absolute;

    background-color: black;
    top: 0;
}
.loading1 {
    width: 0px;
    height: 10px;
    background-color: rgb(195, 180, 180);
    border-radius: 20px;
}
.loading2 {
    width: 0px;
    height: 10px;
    background-color: rgb(195, 180, 180);
    border-radius: 20px;
}
.loading3 {
    width: 0px;
    height: 10px;
    background-color: rgb(195, 180, 180);
    border-radius: 20px;
}
.loading4 {
    width: 0px;
    height: 10px;
    background-color: rgb(195, 180, 180);
    border-radius: 20px;
}
.loading5 {
    width: 0px;
    height: 10px;
    background-color: rgb(195, 180, 180);
    border-radius: 20px;
}
.loading6 {
    width: 0px;
    height: 10px;
    background-color: rgb(195, 180, 180);
    border-radius: 20px;
}
.allbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:1880px;
    height: 56px;
    visibility: visible;
}

.button_newflex {
    position: absolute;
    top: 3050px;
    width: 100vw;
    height: 56px;
}
.restartbutton {
    overflow: hidden;
    max-width: 0;
    max-height: 0;
    display: flex;
    justify-self: start;
}
.endheading{
    color: rgb(134, 134, 139);
    padding-left: 50px;
    margin-bottom: 70px;
  font-size: 48px;
  line-height: 1.0834933333;
  font-weight: 600;
  letter-spacing: -0.003em;
}
.mainflxboxpopup3 {
    margin-top: 40px;
    color: white;
    background-color: rgb(23, 23, 23);
    position: absolute;
    top: 0;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 1400px;
   
}

.mainflxboxpopup3part1 {
    background-image: url("resources/popup3part1bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-left: 288px;
    padding-top: 108px;
    border-radius: 30px 30px 0px 0px;
    width: 79%;
    height: 864px;
    
}

.heading1popup3 {
    font-size: 48px;
    font-weight: 600;
}

.mainflxboxpopup3part2 {
    background-color: rgb(23, 23, 23);
    padding-top: 200px;
    padding-bottom: 108px;
}

.mainflxboxpopup3part2_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup3part2head {
    font-size: 48px;
    font-weight: 600;
}

.popup3part2headcnt {
    transform: translateX(-180px);
    padding-bottom: 100px;
}

.popup3pt2vid {
    font-size: 15px;
    width: 980px;
    height: 584px;
    padding-bottom: 32.4px;
}

.playpausepopup3pt2 {
    padding-bottom: 50px;
    background-color: transparent;
    color: rgb(41, 151, 255);
    border: none;
}

.popup3part2p {
    color: gray;
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 4px;
}

.popup3part2pwhite {
    color: white;
    font-size: 21px;
    padding-left: 10px;
    padding-right: 10px;
}

.popup3part2pm1 {
    display: flex;
}

.mainflxboxpopup3part3 {
    width: 100%;
    background-color: black;
    padding-bottom: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup3part3_1 {
    padding-top: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 54px;
}

.popup3part3_1_head {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-size: 48px;
    font-weight: 600;
}

.popup3part3_1_p {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 21px;
    padding-bottom: 5px;
    font-weight: 600;
    
}
.pt-5{
    padding-bottom: 5px;
}
.popup3pt3_img1 {
    background-image: url("resources/popup3pt3_1.jpg");
    background-position: center;
    background-size: 94%;
    background-repeat: no-repeat;
}

.popup3pt3imgcnt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 54px;
    gap: 57.6px;
}

.popup3pt3img2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.popup3pt3img3 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    transform: translateY(-15px);
}

.popup3pt3img2head {
    padding-top: 32.4px;
    font-size: 23px;
}

.popup3pt3img2p {
    padding-top: 5px;
    color: gray;
    font-size: 21px;
}

.mainflxboxpopup3part4 {
    background-color: rgb(23, 23, 23);
    padding-top: 130px;
    padding-bottom: 108px;
    width: 100%;
}

.popup3pt4vid {
    font-size: 15px;
    padding-bottom: 32.4px;
}

.playpausepopup3pt4 {
    padding-bottom: 50px;
    background-color: transparent;
    color: rgb(41, 151, 255);
    border: none;
}

.popup3part4pm1 {
    display: flex;
    padding-bottom: 108px;
}

.closepopup3 {
    border-radius: 100%;
    border: transparent;
    background-color: rgb(47, 47, 47);
    font-size: 25px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 56px;
    height: 56px;
}

.close_btnpop3 {
   
    background-color: transparent;
    transform: translateY(-108px);
    bottom: -80px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .mainflxboxpopup4 {
    width: 1400px;
    position: relative;
    top: 30px;
    margin-bottom: 40px;
    color: white;
    background-color: black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;  
    padding-top: 20px;
    padding-bottom: 20px;
}

.popup4pt1 {
    width: 100%;
    background-image: url("resources/popup4pt1_bg.jpg");
    background-position: center;   
    display: flex;
    justify-content: center;
    border-radius: 0px;
    font-size: 48px;
    
}

.popup4pt1hd {
    margin-top: 70px;
    margin-bottom: 700px;
    font-weight: bold;
    
}

.popup4pt2 {
    background-color: black;
    display: flex;
    flex-direction: column;    
    padding-top: 130px;
}

.popup4pt2hd {
    display: flex;
    margin-right: 280px;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 54px;
}

.popup4pt2img {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.popup4pt2p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 140px;
    padding-top: 54px;
    padding-bottom: 108px;
    color: darkgrey;
    font-size: 22px;
    opacity: 0.6;
}

.popup4pt2pw {
    color: white;
    opacity: 1;
    font-weight: 500;
    margin-left: 55px;
}

.popup4pt2pm1 {
    display: flex;
}

.popup4pt2hd2 {
    padding-top: 86.4px;  
    font-size: 28px;
    padding-bottom: 10.8px;
    display: flex;
    justify-content: flex-start;
    width: 810px;
}

.popup4pt2comp1 {
    display: flex;
    align-self: center;
    align-items: flex-start;
    justify-content: left;
    padding-bottom: 21.6px;
    gap: 80px;
    padding-top: 54px;
    width: 810px;
}

.comp1bar {
    font-size: 15px;
    padding-bottom: 54px;
    display: flex;
    flex-direction: column;
    gap: 10.6px;
}

.comp1bar1 {
    border-radius: 30px;
    height: 10px;
    width: 626px;
    background-image: linear-gradient(to right, #702963, #cf9fff);
}

.comp1bar2 {
    border-radius: 30px;
    height: 10px;
    width: 480px;
    background-image: linear-gradient(to right, #373737, gray);
}

.comp1bartxt {
    padding-top: 10px;
}

.comp1txt { 
    display: flex;
    flex-direction: column;
    transform: translateY(-20px);
}

.comp1smalltxt {
    font-size: 15px;
    opacity: 0.6;
    
}

.comp1largetxt {
    font-size: 48px;
    color: #cf9fff;
}
.comp2bar {
    font-size: 15px;
    padding-bottom: 54px;
    display: flex;
    flex-direction: column;
    gap: 10.8px;
}
.comp2bar1 {
    border-radius: 30px;
    height: 10px;
    width: 500px;
    background-image: linear-gradient(to right, #702963, #cf9fff);
}

.comp2bar2 {
    border-radius: 30px;
    height: 10px;
    width: 417px;
    background-image: linear-gradient(to right, #373737, gray);
}

.popup4pt2comp2 {
    display: flex;
    align-self: center;
    width: 810px;
    padding-bottom: 21.6px;
    gap: 205px;
}
.comp2txt {  
    display: flex;
    flex-direction: column;
    transform: translateY(-20px);
    
}

.comp3bar1 {
    border-radius: 30px;
    height: 10px;
    width: 626px;
    background-image: linear-gradient(to right, #00ffff, #7fffd4, #90ee90);
}

.comp3bar2 {
    border-radius: 32.4px;
    height: 10px;
    width: 156.66px;
    background-image: linear-gradient(to right, #373737, gray);
}

.comp3largetxt {
    font-size: 48px;
    color: #90ee90;
}

.popup4pt2hd3 {
    font-size: 45px;
    padding-top: 108px;
    padding-bottom: 21.6px;
    width: 810px;
    display: flex;
    justify-content: flex-start;
}
.comp_pic {
    max-width: 100%;
    overflow: hidden;
}
.comp_pic .comp_pic_cnt {
    position: relative;
    display: flex;
}
.comp_pic_cnt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.comp_pic .comp_pic_cnt .rton {
    position: absolute;
    top: 0;
    width: 50%;
}

.comp_pic .slider {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.comp_pic .comp_pic_cnt .slider-line {
    position: absolute;
    height: 100%;
    width: 1px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
}

.comp_pic .comp_pic_cnt .slider-icon {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    background-color: #007fff;
    font-size: 25px;
    padding: 12px 8px 12px 8px;
    transform: translate(-50%, -50%);
}

.comp_pic_txt {
    font-size: 17px;
    display: flex;
    gap: 500px;
    padding-top: 21.6px;
    margin-right: 20px;
    padding-bottom: 50px;
}
.comp_pic_txtp {
    color: gray;
    width: 820px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 25px;
    
    padding-bottom: 80px;
}
.comp_pic_txtpbw {
    display: flex;
    gap: 10px;
}
.comp_pic_txtp .comp_pic_txtpw {
    color: white;
    opacity: 1;
}

.comp_pic_txtp .comp_pic_txtpbw .comp_pic_txtpw {
    color: white;
    opacity: 1;
}

.popup4pt2img_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup4pt2img_2_ {
    width: 70%;
}

.popup4pt2_2flx {
    padding-top: 30px;
    display: flex;
    
    font-size: 21px;
    
    color: gray;
    gap: 200px;
    padding-bottom: 216px;
}
.popup4pt2_2_1 {
    display: flex;
    flex-direction: column;
}

._2imgtxtflx {
    display: flex;
    flex-direction: column;
}

._2imgtxtflx1 {
    display: flex;
    align-items: right;
    justify-content: right;
    padding-bottom: 100px;
}

._2imgtxtflx1pic {
    padding-right: 58px;
    float: right;
    width: 626px;
    height: 817px;
}

._2imgtxtflx1txt {
    padding-top: 50px;
    padding-right: 108px;
}
._2imgtxtflx1txthd {
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 10px;
}
._2imgtxtflx1txthd2{
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 3px;
}

._2imgtxtflx1txtp {
    padding-top: 13px;
    font-size: 21px;
    font-weight: 500;
    color: gray;
}
._2imgtxtflx1txtp2{
    font-size: 21px;
    font-weight: 500;
    color: gray;
    
}
.pt-6{
    padding-bottom: 6px;
}
._2imgtxtflx2 {
    display: flex;
    
}
._2imgtxtflx2pic {
    transform: translateY(-55%);
    width: 45%;
}

._2imgtxtflx2txt {
    padding-left: 148px;
}

.popup4pt2hd_4 {
    font-size: 48px;
    font-weight: 600;
    padding-left: 256px;
    padding-bottom: 254px;
    
}
.popup4pt2lst_piccnt {
    transform: translateY(-210px);
    display: flex;
    gap: 21.6px;
}
.popup4lst1 {
    flex: 50%;
}
.popup4lst2 {
    flex: 50%;
}
.popup4lsttxt {
    
    display: flex;
}
.popup4lsttxt1 {
    font-weight: 500;
    font-size: 21px;
    color: gray;
    
}
.popup4lsttxt2 {
    padding-left: 200px;
    font-size: 21px;
    font-weight: 500;
    color: gray;
}

.closepopup4 {
    border-radius: 100%;
    border: transparent;
    background-color: rgb(47, 47, 47);
    font-size: 25px;
    padding-left: 12px;
    padding-right: 12px;
    width: 56px;
    height: 56px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.close_btnpop4 {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
} */
