.pt3 {
    color: white;
    position: relative;
    top: 3500px;
}

.pt3hd1__ {
    color: lightgray;
    padding-left: 17vw;
    font-size: 60px;
    opacity: 0.4;
    font-weight: bold;
}

.pt3flxtxt1 {
    padding-top: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pt3txt1hd {
    font-size: 80px;
    padding-bottom: 4vh;
}

.pt3txt1p {
    color: darkgray;
    font-size: 25px;
    opacity: 0.6;
}

.pt3txt1blwt {
    display: flex;
}

.pt3txt1pwht {
    padding-left: 8px;
    font-size: 25px;
    padding-bottom: 10vh;
}

.txt1vidcnt {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.txtdiv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
}

.txt1vid_ {
    position: relative;
    top: 650px;
    width: 50%;
    height: 60%;
}

.szofff {
    position: absolute;
    transform: translate(10vw, 63vh);
    font-size: 45px;
    padding-bottom: 80px;
}

.desc_vid {
    position: absolute;
    transform: translate(12vw, 63vh);
    color: darkgray;
    font-size: 25px;
    opacity: 0.6;
}

.popup2showflx {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup2show {
    transform: translateY(180vh);
    background-color: skyblue;
    font-size: 25px;
    border-radius: 100%;
    border: transparent;
    padding: 8px;
}

.mainflxboxpopup2 {
    transform: translateY(5%);
    color: white;
    background-color: black;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    width: 76%;
}

.mainflxboxpopup2part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.heading1popup2 {
    font-size: 60px;
    font-weight: 90%;
    padding-bottom: 8vh;
}

.popup2img1 {
    width: 100%;
}

.mainflxboxpopup2part2 {
    width: 100%;
    display: flex;
    background-color: rgb(23, 23, 23);
    padding-top: 15vh;
}

.popup2img2 {
    width: 55%;
    padding-left: 10vh;
}

.mainflxboxpopup2part2_txt {
    transform: translate(-10vh, 2vh);
}

.popup2part2head {
    font-size: 65px;
}

.popup2part2headcnt {
    padding-bottom: 5vh;
}

.popup2part2p {
    color: darkgray;
    font-size: 25px;
    opacity: 0.6;
}

.popup2part2pwhite1 {
    color: white;
    font-size: 25px;
    padding-left: 10px;
}

.popup2part2pwhite2 {
    padding-right: 10px;
    color: white;
    font-size: 25px;
}

.popup2part2pm1 {
    display: flex;
}

.mainflxboxpopup2part3 {
    padding-top: 5vh;
}

.popup2part3head3 {
    font-size: 60px;
}

.popup2part3imgcnt {
    display: flex;
    gap: 50px;
}

.popup2part3img_txt {
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
}

.popup2part3img1 {
    border-radius: 20px;
    width: 100%;
}

.popup2part3img2 {
    border-radius: 20px;
    width: 95%;
}

.popup2part3txt {
    padding-top: 3vh;
    color: darkgray;
    font-size: 20px;
    opacity: 0.6;
    font-weight: 600;
}

.popup2part3txtwhite {
    display: flex;
}

.popup2part3_white {
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    opacity: 1;
}

.closepopup2 {
    border-radius: 100%;
    background-color: rgb(57, 57, 57);
    font-size: 50px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.close_btnpop2 {
    bottom: 10vh;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
}

.pt3hd2__ {
    padding-top: 220vh;
    font-size: 75px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.desc_pt3_2 {
    padding-top: 20px;
    color: darkgray;
    font-size: 20px;
    opacity: 0.6;
    font-weight: 100;
    padding-bottom: 80px;
}

.desc_pt3_2:hover {
    text-decoration: underline;
}

.pt3p2__ {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: darkgray;
    font-size: 25px;
    opacity: 0.6;
    padding-bottom: 100px;
}

.pt3p2__bw {
    display: flex;
}

.pt3p2__w {
    color: white;
    opacity: 1;
}

.pt3p2flx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pt3pt2flxcnt {
    display: flex;
    gap: 15vw;
    padding-bottom: 5vh;
}

.pt3pt2flxcnt2 {
    display: flex;
    gap: 15vw;
    padding-bottom: 5vh;
}

.pt3pt2flxcnt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pt3pt2flxhd1 {
    font-size: 30px;
}

.pt3pt2flxhd2 {
    font-size: 30px;
}

.pt3pt2flxhd3 {
    font-size: 30px;
}

.pt3pt2flxp {
    font-size: 15px;
}
