.pausebuttonvid2 {
    visibility: hidden;
    max-width: 0;
    max-height: 0;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 200px;
    padding-bottom: 100px;
}
.textcont {
    opacity: 0.8;
    padding: 2px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 30px;
    background-color: rgb(50, 50, 50);
    color: white;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.highlight {
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.back {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;

    align-items: center;
}
.column1 {
    font-size: 20px;
    font-weight: 700;
}

.stat {
    padding-top: 30px;
    color: grey;
    font-size: 20px;
    font-weight: bold;
}
.bold {
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 30px;
}
.column2 {
    width: 30%;
    transform: translate(180px, -15px);
}
.modal-copy {
    font-size: 20px;
    color: grey;
}

.container video {
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
}

.apple {
    display: inline-flex;
    font-size: 470px;
    position: relative;
    font-weight: 750;
    justify-content: center;
    align-items: center;
    transform: translateY(30px);
}

#zoom-out {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    mix-blend-mode: multiply;
}
.OS {
    transform: translateY(700px);
    color: white;
}
.OS_hd {
    position: relative;
    font-size: 70px;
    font-weight: bold;
}
.osimgcl {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.osdesc {
    transform: translateY(-420px);
    display: flex;
    gap: 130px;
    position: absolute;
    left: 27vw;
}
.osdesc1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 21px;
    color: gray;
    opacity: 0.8;
}
.osdesc2 {
    font-size: 18px;
    color: gray;
    opacity: 0.8;
}

.whitesm {
    display: flex;
    gap: 10px;
}
.whitesmw {
    color: white;
    opacity: 1;
}
.pencil {
    transform: translateY(800px);
}
.pencilhd {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
}
.containerpencil {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pencilvid {
    width: 40%;
}

.pencildesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 21px;
    color: #a0a0a0;
    opacity: 0.8;
    font-weight: 600;
}
.pencillnk {
    transform: translateY(20px);
    color: #318ce7;
    opacity: 1;
}
.pencillnk1 {
    font-size: 14px;
    font-weight: 600;
    transform: translateY(6px);
}
.lnksub:hover {
    text-decoration: underline;
}
.keyboard {
    transform: translateY(1200px);
}
.keyboardhd {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
}
.keyboarddesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    gap: 2px;
    font-size: 22px;
    color: #a0a0a0;
    opacity: 0.8;
}
.keyboardlnk {
    font-size: 21px;
    position: absolute;
    display: flex;
    color: #318ce7;
    opacity: 1;
}
.keyboardvid {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recording {
    transform: translateY(1600px);
}
.recorddesc {
    display: flex;
    gap: 30vw;
}
.recordinghd {
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    left: 30vw;
}
.recordingdesc1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-left: 57vw;
    padding-bottom: 20px;
    gap: 2px;
    font-size: 22px;
    color: #a0a0a0;
    opacity: 0.8;
}
.rcrdframe {
    padding-top: 350px;
    width: 2000px;
    height: 806px;
    
}
.recordingvid {
    display: flex;
    float: right;
    padding-right: 40px;
    width: 980px;
    height: 738px;
    transform: translate(0px,-772px);
    border-radius: 20px;
}


.rcrdflx {
    display: flex;
    flex-direction: column;
    gap: 36px;
    transform: translateY(-650px);
    align-items: flex-start;
}
.rcrdflx1 {
    display: flex;
    gap: 160px;
    font-size: 21px;
    width: 800px;
    margin-left: 300px;
}
.grytxt {
    color: #a0a0a0;
    opacity: 0.8;
}
.rcrdflx2 {
    display: flex;
    width: 960px;
    gap: 210px;
    font-size: 21px;
    margin-left: 300px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-40px);
}
.connect {
    transform: translateY(1300px);
}
.connecthd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 70px;
    font-weight: bold;
}

.connectvid {
    padding-top: 30px;
    width: 100%;
}

.connectflx {
    padding-top: 50px;
    display: flex;
    gap: 10vw;
    padding-bottom: 300px;
}
.connectflx1 {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 3px;
    color: #a0a0a0;
    opacity: 0.8;
    font-size: 21px;
    left: 30vw;
}
.connectflx2 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #a0a0a0;
    opacity: 0.8;
    font-size: 21px;
    position: relative;
    left: 30vw;
}
.lrgwt1 {
    font-size: 50px;
    color: white;
    opacity: 1;
    font-weight: bold;
}
.lrgwt2 {
    font-size: 50px;
    color: white;
    opacity: 1;
    font-weight: bold;
    padding-top: 30px;
}
.backdrop{
    backdrop-filter: blur(20px);
    background-color: rgba(50, 50, 50, 0.48);
}
