.endprt {
    position: relative;
    background-color: rgb(22, 22, 23);
    top: 4800px;
    color: white;
}

.endbox1 {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1260px;
    border-radius: 35px;
    margin-inline: auto;
    color: #a0a0a0;
    opacity: 0.8;
    font-size: 21px;
    margin-bottom: 200px;
}

.expanded {
    padding-top: 180px;
}

.endbox1hd {
    font-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;
    font-size: 80px;
    background-image: linear-gradient(51deg, #f7b500, #6dd400 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    left: 192px;
    padding-bottom: 20px;
    opacity: 1;
}

.endbox1p {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
    position: relative;
    left: 192px;
    width: 100%;
    padding-bottom: 50px;
}

.endbox1flx {
    position: relative;
    left: 192px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
    gap: 134.4px;
    padding-bottom: 200px;
}

.endbox1flx1 {
    display: flex;
    flex-direction: column;
    gap: 10.8px;
}

.logo {
    width: 15%;
}

.logo1 {
    width: 11%;
}

.endhd1 {
    display: flex;
    
    font-size: 48px;
    max-width: 1260px;
    margin-inline: auto;
    text-align: left;
    color: #86868b;
    padding-bottom: 35px;
}

.endlnk {
    margin-left: auto;
    font-size: 21px;
    transform: translateY(22px);
    color: #318ce7;
    opacity: 1;
}

.endplacards {
    display: flex;
    gap: 20px;
    position: relative;
}

.endplacard {
    border: none;
    border-radius: 25px;
    background-color: black;
    height: 342px;
    width: 372px;
    text-align: left;
    cursor: pointer;
}

.placardlogo1 {
    position: relative;
    left: 28px;
    top: -30px;
}

.placard1hd {
    position: relative;
    left: 28px;
    font-weight: 400;
    color: white;
    top: -12px;
    font-size: 28px;
    width: 265px;
}

.placard1p {
    position: relative;
    left: 28px;
    font-size: 17px;
    color: white;
    width: 265px;
}

.openbtnpl {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 30px;
    bottom: -30px;
    width: 36px;
    height: 36px;
    background-color: white;
    border: none;
    border-radius: 100%;
    font-size: 20px;
}

.endplacard:hover {
    height: 348px;
    width: 378px;
    transform: translate(-3px, -3px);
    transition: 0.2s all ease-out;
}

.bighd {
    position: initial;
    padding-top: 300px;
    font-size: 56px;
}

.biglnk {
    position: initial;
    transform: translateY(36px);
}

.imgflxboxend {
    padding-top: 100px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 744px;
}


.enddispimg {
    padding-bottom: 40px;
    width: 320px;
    height: 364px;
}

.col1end {
    display: flex;
    flex-direction: column;
    width: 372px;
    align-items: center;
    justify-content: center;
}

.colordisp {
    display: flex;
    height: 12px;
    gap: 6px;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.coloropt {
    border: 0.01px solid gray;
    box-shadow: 1px;
    border-radius: 100%;
    width: 12px;
    height: 12px;
}
.flxbuy {
    height: 44px;
    padding-top: 40px;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    gap: 35px;
    color: #86868b;
    padding-bottom: 50px;
}

.linkbx {
    transform: translateY(0);
    font-size: 17px;
    font-weight: 400;
    display: flex;
    gap: 5px;
}
.lrnmoreair {
    transform: translateY(-10px);
    text-align: center;
    background-color: rgb(0, 113, 227);
    height: 34px;
    width: 131px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 100px;
    padding-top: 10px;
}
.decorationline {
    width: 372px;
    color: #86868b;
    background-color: #86868b;
    height: 1px;
    opacity: 0.4;
}
.txtboxend {
    padding-top: 50px;
    height: 234px;
    width: 292px;
    padding-bottom: 30px;
}
.txtboxendhd {
    text-align: center;
    color: white;
    opacity: 1;
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: 0.007em;
}
.txtboxendp {
    margin-top: 0.8em;
    text-align: center;
    height: 16px;
    font-size: 12px;
    color: white;
    opacity: 1;
}
.txtboxendp1 {
    margin-top: 0.8em;
    text-align: center;
    height: 16px;
    font-size: 12px;
}
.logoend2 {
    width: 51px;
    height: 75px;
}
.logoend2_1 {
    width: 58px;
    height: 75px;
}
.logoend2_2 {
    width: 21px;
    height: 75px;
}
.logoend2_3 {
    width: 75px;
    height: 75px;
}
.logotxtcnt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline: auto;
    padding-bottom: 20px;
}
.logotxtcnt_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline: auto;
    padding-bottom: 100px;
}
.terms-conditions{
    background-color: rgb(29, 29, 31);
    color: rgba(255, 255, 255, 0.56);
    display: flex;
    justify-content: center;
    font-size: 13px;
    
    padding-top: 20px;
}
.basics{
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
}
.deco{
    list-style-type: decimal;
}
.pt-30{
    padding-top: 30px;
}
.pt-7{
    padding-top: 7px;
}
.content-footer{
    list-style: none;
}
.footer{
    display: flex;
    gap: 70px;
}
.font-footer{
    font-size: 12px;
    margin-top: 10px;
    color:rgba(255, 255, 255, 0.8);
}
strong{
    font-weight: 600;
    color: white;
    margin-top: 30px;
}
.last{
    margin-bottom: 40px;
}
.m-25{
    margin-bottom: 25px;
}
.color-a{
    color: rgb(41, 151, 255);
    text-decoration: underline;
}
.top-text1{
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
}
.grey1{
    width: 710px;
    height: 327px; 
    align-self: center;
    transform: translateY(-20px);
}
.width1{
    border-radius: 20px;
    background-color: rgb(29, 29, 31);
    color: white;
    display: flex;
    width: 870px;
    height: 479px;
    visibility: hidden;
    justify-content: center; 
    flex-direction: column;
    z-index: 3;
    position: fixed;
    
}
.fontsize1{
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 505;
    letter-spacing: -0.005em;
    padding-top: 40px;
}
.textpopup1{
    font-size: 19px;
    padding-top: 20px;
    line-height: 1.4211026316;
    font-weight: 400;
    letter-spacing: .012em;
}
.padding-top1{
    text-decoration: none;
    color: rgb(41, 151, 255);
    font-size:20px;
}
.closepopupdiv31{        
    position: relative;
    z-index: 999;         
   }
.closepopup31{
    width: 35px;
    height: 35px;
    background: rgb(51, 51, 54);
    border-radius: 50%;
    border: none;
   }
.sticky1{
    transform: translateY(-35px);
    margin-right: 20px;
    align-self: flex-end;
   }
.top-text2{
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
}
.grey2{
    width: 665px;
    height: 354px; 
    transform: translateY(-15px);
}
.width2{
    border-radius: 20px;
    background-color: rgb(29, 29, 31);
    color: white;
    display: flex;
    width: 817px;
    height: 506px;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    
    visibility: hidden;
}
.fontsize2{
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 505;
    letter-spacing: -0.005em;
    padding-top: 40px;
}
.textpopup2{
    font-size: 19px;
    padding-top: 20px;
    line-height: 1.4211026316;
    font-weight: 400;
    letter-spacing: .012em;
}
.padding-top2{
    text-decoration: none;
    color: rgb(41, 151, 255)
}
.closepopupdiv32{        
    position: relative;
    z-index: 999;         
   }
.closepopup32{
    width: 35px;
    height: 35px;
    background: rgb(51, 51, 54);
    border-radius: 50%;
    border: none;
   }
.sticky2{
    transform: translateY(-35px);   
    margin-right: 20px;
    align-self: self-end;
   }
   .top-text3{
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
    
}
.grey3{
    width: 710px;
    height: 327px; 
    transform: translateY(-15px);
}
.width3{
    border-radius: 20px;
    background-color: rgb(29, 29, 31);
    color: white;
    display: flex;
    width: 840px;
    height: 479px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position: fixed;
 
    visibility: hidden;
}
.fontsize3{
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 505;
    padding-top: 40px;
}
.textpopup3{
    font-size: 19px;
    padding-top: 20px;
    font-weight: 400;
    letter-spacing: .012em;
}
.padding-top3{
    text-decoration: none;
    color: rgb(41, 151, 255);
   
    
}
.closepopupdiv33{        
    position: relative;
    z-index: 999;         
   }
.closepopup33{
    width: 35px;
    height: 35px;
    background: rgb(51, 51, 54);
    border-radius: 50%;
    border: none;
   }
.sticky3{
    transform: translateY(-35px); 
    margin-right: 20px;
    align-self: self-end;
   }
.top-text4{
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
    
}
.grey4{
    width: 665px;
    height: 661px; 
    position: absolute;
}
.width4{
    border-radius: 20px;
    background-color: rgb(29, 29, 31);
    color: white;
    display: flex;
    width: 817px;
    height: 813px;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.fontsize4{
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 505;
    padding-top: 40px;
}
.textpopup4{
    font-size: 19px;
    padding-top: 20px;
    font-weight: 400;
    letter-spacing: .012em;
}
.padding-top4{
    text-decoration: none;
    color: rgb(41, 151, 255)
}
.closepopupdiv34{        
    position: relative;
    z-index: 999;         
   }
.closepopup34{
    width: 35px;
    height: 35px;
    background: rgb(51, 51, 54);
    border-radius: 50%;
    border: none;
   }
.sticky4{
    transform: translateY(-370px);
    position: sticky;
    top:380px;
    margin-right: 20px;
    align-self: self-end;
   
   }
   #scrollablediv{
    position: fixed;
    top:0px;
    width:100vw;
    height:100%; 
    visibility:hidden;
    overflow-y: scroll;
    display: flex;
    justify-content:space-evenly;
   }
   .top-text5{
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
    
}
.grey5{
    width: 710px;
    height: 267px; 
    transform: translateY(-15px);
}
.width5{
    border-radius: 20px;
    background-color: rgb(29, 29, 31);
    color: white;
    display: flex;
    width: 870px;
    height: 419px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position: fixed;
  
    visibility: hidden;
}
.fontsize5{
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 505;
    letter-spacing: -0.005em;
    padding-top: 40px;
}
.textpopup5{
    font-size: 19px;
    padding-top: 20px;
    line-height: 1.4211026316;
    font-weight: 400;
    letter-spacing: .012em;
}
.padding-top5{
    text-decoration: none;
    color: rgb(41, 151, 255)
}
.closepopupdiv35{        
    position: relative;
    z-index: 999;         
   }
.closepopup35{
    width: 35px;
    height: 35px;
    background: rgb(51, 51, 54);
    border-radius: 50%;
    border: none;
   }
.sticky5{
    transform: translateY(-35px); 
    margin-right: 20px;
    align-self: self-end;
   }
   .top-text6{
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
    
}
.grey6{
    width: 710px;
    height: 528px; 
    transform: translateY(-15px);
}
.width6{
    border-radius: 20px;
    background-color: rgb(29, 29, 31);
    color: white;
    display: flex;
    width: 850px;
    height: 680px;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position: fixed;

    visibility: hidden;
}
.fontsize6{
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 505;
    letter-spacing: -0.005em;
    padding-top: 40px;
}
.textpopup6{
    font-size: 18px;
    padding-top: 15px;
    line-height: 1.4211026316;
    font-weight: 400;
    letter-spacing: .012em;
}
.padding-top6{
    text-decoration: none;
    color: rgb(41, 151, 255)
}
.closepopupdiv36{        
    position: relative;
    z-index: 999;         
   }
.closepopup36{
    width: 35px;
    height: 35px;
    background: rgb(51, 51, 54);
    border-radius: 50%;
    border: none;
   }
.sticky6{
    transform: translateY(-35px);
    margin-right: 20px;
    align-self: self-end;
   
   }
   .top-text7{
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
    
}
.grey7{
    width: 730px;
    height: 294px; 
    transform: translateY(-15px);
}
.width7{
    border-radius: 20px;
    background-color: rgb(29, 29, 31);
    color: white;
    display: flex;
    width: 880px;
    height: 446px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position: fixed;
    visibility: hidden;
}
.fontsize7{
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 505;
    letter-spacing: -0.005em;
    padding-top: 40px;
}
.textpopup7{
    font-size: 19px;
    padding-top: 20px;
    line-height: 1.4211026316;
    font-weight: 400;
    letter-spacing: .012em;
}
.padding-top7{
    text-decoration: none;
    color: rgb(41, 151, 255);
}
.closepopupdiv37{        
    position: relative;
    z-index: 999;         
   }
.closepopup37{
    width: 35px;
    height: 35px;
    background: rgb(51, 51, 54);
    border-radius: 50%;
    border: none;
   }
.sticky7{
    transform: translateY(-35px);
    margin-right: 20px;
    align-self: self-end;
   }
   .top-text8{
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
    
}
.grey8{
    width: 665px;
    height: 1014px; 
    align-self: center;
}
.width8{
    border-radius: 20px;
    background-color: rgb(29, 29, 31);
    color: white;
    display: flex;
    width: 817px;
    height: 1165.8px;  
    justify-content: space-evenly;
    position:relative;
    top: 40px;
    flex-direction: column;
    margin-bottom: 80px;
    
}

.fontsize8{
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 505;
    letter-spacing: -0.005em;
    padding-top: 40px;
}
.textpopup8{
    font-size: 18px;
    padding-top: 15px;
    line-height: 1.4211026316;
    font-weight: 400;
    letter-spacing: .012em;
}
.padding-top8{
    text-decoration: none;
    color: rgb(41, 151, 255)
}
.closepopupdiv38{        
    position: relative;
    z-index: 999;         
   }
.closepopup38{
    width: 35px;
    height: 35px;
    background: rgb(51, 51, 54);
    border-radius: 50%;
    border: none;
   }
.sticky8{
    transform: translateY(-15px);
    position: sticky;
    margin-right: 20px;
    align-self: self-end;
    top: 35px;
   }
   #scrollablediv2{
    position: fixed;
    top:0px;
    width:100vw;
    height:100%; 
    visibility:hidden;
    overflow-y: scroll;
    display: flex;
    justify-content:space-evenly;
   }
   #scrollablediv3{
    position: fixed;
    top:0;
    width:100%;
    height:100%;
    visibility:hidden;
    overflow-y: scroll;
    overflow-x: hidden;
   }
   #scrollablediv4{
    position: fixed;
    top:0;
    width:100%;
    height:100%; 
    visibility:hidden;
    overflow-y: scroll;
    overflow-x: hidden;
   }
   #scrollablediv5{
    position: fixed;
    top:0;
    width:100%;
    height:100%; 
    visibility:hidden;
    overflow-y: scroll;
    overflow-x: hidden;
   }
   #scrollablediv6{
    position: fixed;
    top:0;
    width:100%;
    height:100%; 
    visibility:hidden;
    overflow-x: hidden;
    overflow-y: scroll;
   }
   #scrollablediv7{
    position: fixed;
    top:0;
    width:100%;
    height:100%; 
    visibility:hidden;
    overflow-x: hidden;
    overflow-y: scroll;
   }
   #scrollablediv8{
    position: fixed;
    top:0;
    width:100%;
    height:100%; 
    visibility:hidden;
    overflow-x: hidden;
    overflow-y: scroll;
   }
   #scrollablediv9{
    position: fixed;
    top:0;
    width:100%;
    height:100%; 
    visibility:hidden;
    overflow-x: hidden;
    overflow-y: scroll;
   }
   #scrollablediv10{
    position: fixed;
    top:0;
    width:100%;
    height:100%; 
    visibility:hidden;
    overflow-x: hidden;
    overflow-y: scroll;
   }
   #scrollablediv11{
    position: fixed;
    top:0;
    width:100%;
    height:100%; 
    visibility:hidden;
    overflow-x: hidden;
    overflow-y: scroll;
   }
   .flex_btns_leftright2{
    gap: 15px;
    padding-top: 40px;
    display: flex;
    justify-content: right;
    align-items: right;
    padding-right: 144px;
}

.flex_btns_left2{
    height: 4.8vh;
    width: 4.8vh;
    border: transparent;
    border-radius: 100%;
    font-size: 23px;
    background-color: rgb(57, 57, 57);
    opacity: 0.2;
}

.flex_btns_right2{
    height: 4.8vh;
    width: 4.8vh;
    border: transparent;
    font-size: 23px;
    border-radius: 100%;
    background-color: rgb(57, 57, 57);
    cursor: pointer;
}