body {
    color: white;
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.txt1 {
    padding-bottom: 110vh;
}

.allshown {
    padding-bottom: 200vh;
}

.mainflxboxpopup3 {
    transform: translateY(2%);
    color: white;
    background-color: rgb(23, 23, 23);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    width: 80%;
}

.mainflxboxpopup3part1 {
    background-image: url("resources/popup3part1bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-left: 15vw;
    padding-top: 10vh;
    width: 81%;
    height: 80vh;
    border-radius: 3vh 3vh 0vh 0vh;
}

.heading1popup3 {
    font-size: 60px;
    font-weight: 90%;
}

.mainflxboxpopup3part2 {
    background-color: rgb(23, 23, 23);
    padding-top: 30vh;
    padding-bottom: 10vh;
}

.mainflxboxpopup3part2_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup3part2head {
    font-size: 50px;
}

.popup3part2headcnt {
    transform: translateX(-15vw);
    padding-bottom: 7vh;
}

.popup3pt2vid {
    font-size: 15px;
    width: 60%;
    padding-bottom: 3vh;
}

.playpausepopup3pt2 {
    padding-bottom: 5vw;
    background-color: transparent;
    color: lightblue;
    border: none;
}

.popup3part2p {
    color: darkgray;
    font-size: 25px;
    opacity: 0.6;
}

.popup3part2pwhite {
    color: white;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.popup3part2pm1 {
    display: flex;
}

.mainflxboxpopup3part3 {
    width: 100%;
    background-color: black;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup3part3_1 {
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

.popup3part3_1_head {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    font-size: 50px;
}

.popup3part3_1_p {
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    color: darkgray;
    font-size: 23px;
    padding-bottom: 5px;
    opacity: 0.6;
}

.popup3pt3_img1 {
    background-image: url("resources/popup3pt3_1.jpg");
    background-position: center;
    background-size: 94%;
    background-repeat: no-repeat;
}

.popup3pt3imgcnt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    gap: 3vw;
}

.popup3pt3img2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.popup3pt3img3 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    transform: translateY(-15px);
}

.popup3pt3img2head {
    padding-top: 3vh;
    font-size: 23px;
}

.popup3pt3img2p {
    padding-top: 5px;
    color: darkgray;
    font-size: 23px;
    opacity: 0.6;
}

.mainflxboxpopup3part4 {
    background-color: rgb(23, 23, 23);
    padding-top: 20vh;
    padding-bottom: 10vh;
    width: 100%;
}

.popup3pt4vid {
    font-size: 15px;
    padding-bottom: 3vh;
}

.playpausepopup3pt4 {
    padding-bottom: 5vw;
    background-color: transparent;
    color: lightblue;
    border: none;
}

.popup3part4pm1 {
    display: flex;
    padding-bottom: 10vh;
}

.closepopup3 {
    border-radius: 100%;
    border: transparent;
    background-color: rgb(47, 47, 47);
    font-size: 25px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.close_btnpop3 {
    width: 100%;
    background-color: transparent;
    transform: translateY(-10vh);
    bottom: 5vh;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
}
